body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

input {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
    width: 70%;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;
}

#pdfPreview {
    margin-top: 20px;
}

canvas {
    border: 2px solid #ccc;
}

#certificateType {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5'%3E%3Cpath fill='%23000' d='M0 0l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

#certificateType:focus {
    border-color: #4CAF50;
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, #certificateType {
    box-sizing: border-box;
}

.lds-ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    margin: 20px auto;
    position: relative;
}

.lds-ellipsis div {
    width: 12px;
    height: 12px;
    background: #3498db;
    border-radius: 50%;
    position: absolute;
    animation: lds-ellipsis1 0.6s infinite ease-in-out;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite ease-in-out;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite ease-in-out;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis4 0.6s infinite ease-in-out;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis4 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
.toast {
    display: none;
    animation: slideUp 0.3s ease-in-out forwards;
    margin-bottom: 10px;
}
@keyframes slideUp {
    0% {
        bottom: -100px;
        opacity: 0;
    }
    100% {
        bottom: 100px;
        opacity: 1;
    }
}
